<h1>
	Ride Booked:-

	<br>
	<% @ride= Ride.last %>
	<br>
		from=<%= @ride.pickup_point %>
		<br>to=<%= @ride.drop_point %>
	<br>total distance=<%= @ride.distance %>
	<br>Wait time=<%= @ride.wait_time%>


</h1>