<h1>
	Ride Booked:-

	<br>
	<% @ride= Ride.last %>
	<br>
		from=<%= @ride.pickup_point %>
		<br>to=<%= @ride.drop_point %>
	<br>total distance=<%= @ride.distance %>

	<%=link_to "Pay now", payment_index_path%>

</h1>