
<h1>Driver Details</h1>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @driver=User.where("user.role_ids  3")%>
  <% @driver.each do |driver| %>

      <td><%= driver.id %></td>
      <td><%= driver.name %></td>

        </tr>
  <% end %>
  </tbody>
</table>

<br